<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_app/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome!</h1>
    <h3>Register</h3>
            {% if messages %}
                {% for message in messages %}
                   <p> {{message}} </p>
                {% endfor %}
            {% endif %}
        <form action='/newpage_reg' method='POST' class='reg_form'>
            {%csrf_token %}
            First Name: <input type="text" name="first_name" style="margin:5px"><br>
            Last Name:<input type="text" name="last_name" style="margin:5px"><br>
            Email:<input type="text" name="email" style="margin:5px"><br>
            Password:<input type="password" name="password" style="margin:5px"><br>
            Confirm Password:<input type="password" name="confirm_password" style="margin:5px"><br>
            <input type="submit" value="Register">
        </form>
    <h3>Login Here</h3>
        <form action='/newpage_log' method='POST' class='reg_form'>
            {%csrf_token %}
            Email:<input type="text" name="email" style="margin:5px" ><br>
            Password:<input type="password" name="password" style="margin:5px"><br>
            <input type="submit" value="Login">
        </form>
</body>
</html>