<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Record</title>
</head>
<body>
    <h1>{record.name}</h1>
    <h1>{record.image}</h1>
    <h3>{record.description}</h3>       
    <h3>{record.genre}</h3>       
    <h3>{record.price}</h3>               
    <h3><a href="">Add to Cart</a></h3>
    <a href="">Home</a> 
    <a href="/logout">Logout</a>              
</body>
</html>